body{
    background-color: #0A192F;
    font-family: 'Quicksand', sans-serif;
    color: #D7D7D7;
    font-weight: normal;
    letter-spacing: 0.25px;
    margin-top: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.image {
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;

     
}

@media (max-width: 770px ){
    .container{
        margin: 0 10%;
    }

    .image {
        width: 100%;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
}